@import "src/scss/colours";

.roadmap-container {
  margin-top: 4vh;
  width: 95vw;
  max-width: 1000px;
}

.roadnav-container {
  padding: 0 5vw;
}

.node-container {
  position: relative;
}

.fade-animation {
  opacity: 1;
  animation: fadeIn ease-in-out 0.5s;
  -webkit-animation: fadeIn ease-in-out 0.5s;
}

.node {
  background-color: #F5F5F5;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  z-index: 2;
}

.node-link {
  position: absolute;
  left: -10px;
  background-color: #F5F5F5;
  height: 10px;
  width: 20px;
}

.node-path {
  background-color: #F5F5F5;
  height: 10px;
  width: calc(5vw + 40px);
  z-index: 1;
}

.passed {
  background-color: $accent-two;
}

.not-passed {
  Border: 1px solid ($accent-two);
}

.on-the-way {
  background: linear-gradient(90deg, $accent-two 75%, #FAFAFA 25%);
}

.active-node {
  background-color: $snowge-light-blue;
}

.info-card {
  padding: 10px;
  margin: calc(2vw + 40px) 10px;
  box-sizing: border-box;
  background-color: white;
  width: calc(100% - 20px);
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-info-container {
  box-sizing: border-box;
  margin: 10px;
}

.milestone-container {
  margin: 0 10px 10px;
  box-sizing: border-box;
}

.milestone-header {
  position: relative;
}

.milestone-complete {
  position: absolute;
  left: -20px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
}

.milestone-content {
  margin-left: 30px;
  box-sizing: border-box;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

// @-moz-keyframes fadeIn {
//   0% {opacity:0;}
//   100% {opacity:1;}
// }
//
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
//
// @-o-keyframes fadeIn {
//   0% {opacity:0;}
//   100% {opacity:1;}
// }
//
// @-ms-keyframes fadeIn {
//   0% {opacity:0;}
//   100% {opacity:1;}
// }
