@import "src/scss/colours";

.snowge-introduction-container {
  height: 100%;
  width: 90%;
  max-width: 1000px;
  box-sizing: border-box;
}

.snowge-title {
  font-size: min(calc(4vw + 20px), 40px);
  font-weight: 500;
}

.snowge-info-text {
  margin-top: 20px;
  font-size: min(calc(4vw + 10px), 24px);
}

.snowge-contract-addy {
  margin-top: 20px;
  font-size: min(calc(4vw + 10px), 16px);
  padding-left: 10px;
  padding-right: 10px;
  word-break: break-all;
  font-weight: 500;
}

.snowge-buttons-div {
  margin-top: 10%;
  margin-bottom: 5%;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
}

.snowge-button {
  border-radius: 11px !important;
  margin: 10px !important;
}

.pcs-button {
  background-color: $snowge-light-blue !important;
  color: $snowge-white !important;
}

.goswap-button {
  background-color: $accent-two !important;
  color: $snowge-white !important;
}

.poo-button {
  background-color: saddlebrown !important;
  color: $snowge-white !important;
}

.numbers-div {
  margin-top: 40px;
  width: 100%;
}

.number-entry {
  width: 150px;
  margin-bottom: 20px;
}

.number-text {
  font-size: 20px;
  font-weight: 500;
}
