@import "src/scss/colours";

#floofyboibig {
  width: 200px;
  border-radius: 50%;
}

.snowge-introduction-container {
  height: 100%;
  width: 90%;
  max-width: 1000px;
  box-sizing: border-box;
}

.snowge-title {
  font-size: min(calc(4vw + 20px), 40px);
  font-weight: 500;
}

.snowge-info-text {
  margin-top: 20px;
  font-size: min(calc(4vw + 10px), 24px);
}

.snowge-contract-addy {
  margin-top: 20px;
  font-size: min(calc(4vw + 10px), 16px);
  word-break: break-all;
  font-weight: 500;
}

.snowge-buttons-div {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
}

.snowge-button {
  border-radius: 11px !important;
  margin: 3% !important;
  padding: 10px;
}

.pcs-button {
  margin-top: 5% !important;
  background-color: $snowge-light-blue !important;
  color: $snowge-white !important;
}

.goswap-button {
  border-color: $accent-three !important;
}

.blockfolio-button {
  border-color: $accent-two !important;
}

.bsc-button {
  border-color: $snowge-dark-blue !important;
}

.tokendata-button {
  width: 25%;
}

.tokendata-button:hover {
  filter:grayscale(100%);
}

.tokendata-button-icon {
  height: 90%;
  width: 90%;
}

.numbers-div {
  margin-top: 40px;
  width: 100%;
}

.number-entry {
  width: 150px;
  margin-bottom: 20px;
}

.number-text {
  font-size: 20px;
  font-weight: 500;
}
