@import "src/scss/colours";

#floofyboibig {
  width: 200px;
  border-radius: 50%;
}

.snowge-introduction-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.snowge-title {
  font-size: min(calc(2vw + 20px), 30px);
  font-weight: 500;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.snowge-info-text {
  font-size: min(calc(4vw + 10px), 20px);
  margin-left: 20px;
  margin-right: 20px;
}

.snowge-contract-addy {
  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: min(calc(2vw + 10px), 16px);
  word-break: break-all;
  font-weight: 500;
}

.snowge-buttons-div {
  margin-top: 40px;
  width: 100%;
  align-items: flex-end;
}

.tokendata-button {
  width: 160px;
  height: 40px;
  border-radius: 5px !important;
  margin: 20px !important;
  padding: 10px;
}

.tokendata-button-icon {
  width: 80%;
}

.dexguru-icon {
  width: 180px;
}

.numbers-div {
  margin-top: 40px;
  width: 100%;
  background-color: $snowge-white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.number-entry {
  width: 150px;
  margin: 20px 2vw;
}

.emoji-icon {
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
}

.number-text {
  font-size: 20px;
  font-weight: 600;
  color: $snowge-dark-blue;
}

.number-label-text {
  //color: $snowge-dark-blue;
}

@media (max-width: 748px) {
  /*Mobile View */
  .snowge-contract-addy {
    margin-top: 20px;
  }
}
