// TODO - Fix this shit later
@import url('https://fonts.googleapis.com/css?family=Lato');
@import "src/scss/colours";

* {
  box-sizing: border-box;
}

.countdown {
  position: relative;
  top: 50px;
  font-family: Hanomali;
  font-size: 164px;
  letter-spacing: 2px;
  text-align: center;
  color: $snowge-light-blue;
}

.countdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.countdown-item {
  color: #111;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 30px;
  margin: 10px;
  padding-top: 10px;
  position: relative;
  width: 100px;
  height: 100px;
}

.countdown-item span {
  color: #333;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.countdown-svg {
  stroke: $accent-one;
  stroke-linecap: round;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
