.how-to-buy-container {
  margin: 0 2vw 4vw;
  width: 100%;
  max-width: 1300px;
  box-sizing: border-box;
}

.left-column {
  width: 100%;
  max-width: 600px;
  margin: 20px;
}

.quick-info-text {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.right-column {
  width: 100%;
  max-width: 600px;
  margin: 20px;
}

.how-to-card {
  background-color: white;
  padding: 20px;
  border-radius: 7px;
  min-height: 710px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.how-to-title {
  margin-bottom: 20px;
}

.buy-snowge {
  position: relative;
  top: 10px;
  height: 300px;
}

.how-to-step {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  min-height: 80px;
}

.wallet-button {
  height: 40px;
  width: 120px;
}

.wallet-icon {
  height: 50px;
}

.need-help {
  margin-top: 10px;
  font-size: 14px;
}

.receipts {
  margin: 20px;
}

.audit-logo {
  height: 60px;
  width: 60px;
}

.info-emoji-icon {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}
