@import "src/scss/colours";

.navbar-wrapper {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  box-sizing: border-box;
  padding: 3vh 6vw;
}

.remove-background {
  background-color: transparent;
  transition: background-color 200ms linear;
}

.navbar-background {
  background-color: $snowge-white;
  transition: background-color 200ms linear;
}

.navbar-wrapper > * {
  margin: 10px;
}

.token-container {
  flex: 1 1 auto;
  text-decoration: none;
}

.token-container:hover {
  text-decoration: none;
}

.nav-header {
  margin-left: 20px;
  font-weight: 500;
  color: $snowge-dark-blue;
}

.header-logo {
  height: 50px;
  width: 50px;
}

.countdown-container {
  margin-left: 8vw;
  margin-right: 8vw;
}

.construction-text {
  color: $snowge-dark-blue;
  font-size: calc(10px + 0.2vw);
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

.link-text {
  margin-left: 20px;
  color: $snowge-light-blue;
  text-decoration: none;
}

.link-text:hover {
  text-decoration: none;
  color: $snowge-dark-blue;
}

.active-page {
  color: $snowge-pink !important; // Keep active page pink on hover
}

.new-tab-icon {
  position: relative;
  top: -4px;
  font-size: 14px !important; // IDK why this is needed
  height: 10px;
  width: 10px;
}

.snow-button {
  color: $snowge-light-blue;
  height: 20px;
  width: 20px;
}

.snow-button:hover {
  color: $snowge-dark-blue;
}
