@import "src/scss/colours";

.tokenomics-container {
  margin: 2vw;
  width: 90%;
  max-width: 1000px;
  box-sizing: border-box;
}

.tokenomics-title {
  margin-top: calc(1vh + 10px);
  margin-bottom: calc(1vh + 10px);
}

.disclaimer {
  margin-top: 40px;
}

.token-spacer {
  margin-top: 40px;
}

.audit-logo {
  height: 80%;
  width: 80%;
}
