$snowge-white: #E1EAF5;
$snowge-blue-white: #9FDDF6;
$snowge-light-blue: #10ABEA;
$snowge-dark-blue: #0F4395;
$snowge-pink: #F361CB;
$snowge-light-pink: #F361CB;

$accent-one: #3C8980;
$accent-two: #246E78;
