@import "colours";

// TODO - Might be importing this wrong for gitpages hosting
@font-face {
  font-family: 'Hanomali';
  src: local('Hanomali'), url(../fonts/Hanomali.ttf) format('truetype');
}

@font-face {
  font-family: 'Baloo-Regular';
  src: local('Baloo-Regular'), url(../fonts/Baloo-Regular.ttf) format('truetype');
}

html, body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-background {
  background-image: linear-gradient(
                  -35deg, $snowge-blue-white 0%, $snowge-white 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-div {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

.home-banner {
  min-height: 100vh;
  box-sizing: border-box;
}

.home-spacer {
  height: 40%;
}

.tokenomics-banner {
  background-color: $snowge-white;
}

.how-to-buy-banner {
  margin-bottom: 30px;
}

.roadmap-banner {
}

.donate-banner {
  height: 400px;
}

.page-container {
  height: 100%;
}

.relative {
  position: relative;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.slightly-bolder {
  font-weight: 500;
}

.tiny-font {
  font-size: 12px;
}

.small-font {
  font-size: 14px;
}

.medium-font {
  font-size: 16px;
}

.large-font {
  font-size: 24px;
}

.giga-large-font {
  font-size: 32px;
}

.primary-button {
  background-color: $snowge-light-blue !important;
  border-color: $snowge-light-blue !important;
}

.primary-badge {
  color: $snowge-light-blue !important;
  border-color: $snowge-light-blue !important;
  margin: 8px;
}

.primary-badge:hover {
  color: white !important;
  background-color: $snowge-light-blue !important;
}

.pointer {
  cursor: pointer;
}

.message {
  height: 100%;
  color: $snowge-dark-blue
}

.card-header-combo {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.text-decoration-none {
  text-decoration: none;
}

.text-decoration-none:hover {
  text-decoration: none;
}
